@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

.header,
.intro,
.footer {
    background-color: #1f2937;
    color: #f9faf8;
}

.header-content,
.intro-content,
.products-content,
.action-content {
    display:flex;
    flex: 0 1 auto;
    width: 1300px;
}

.header,
.intro,
.products,
.review,
.action,
.footer {
    display: flex;
    justify-content: center;
}

.header-content {
    justify-content: space-between;
    align-items: center;
}

.header-content .left,
.header-content .right {
    display: flex;
    padding: 16px 0px;
    align-items: center;
    gap: 16px;
    margin-left: 30px;
    margin-right: 50px;
}

.header-content p {
    font-family: 'Nanum Brush Script', cursive, sans-serif;
    font-size: 42px;
    font-weight: 700;
}

.header-content a {
    text-decoration: none;
    font-size: 20px;
    color: #e5e7eb;
}

.header-content .store {
    font-weight: 500;
    margin-right: 20px;
}

.intro-content {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 50px 42px;
    margin-bottom: 100px;
    gap: 30px;
    flex-wrap: wrap-reverse;
}

.intro-content .presentation {
    flex: 1 1 400px;
    max-width: 1000px;
}

.intro-content h1 {
    font-size: 48px;
    font-weight: 900;
}

.intro-content p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 20px 0;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    padding: 6px 20px;
}

.intro-content button {
    border-style: none;
}

.intro-content .image {
    max-width: 1000px;
    flex: 3 1 500px;
}

.image img {
    width: 100%;
    border-radius: 10px;
}

.products-content {
    flex-direction: column;
    align-items: center;
    padding: 42px 5px;
    gap: 30px;
}

.products-content h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.item {
    flex-basis: 300px;
}

.item p {
    margin-top: 20px;
    text-align: center;
}

.item img {
    border-style: solid;
    border-color: #3882f6;
    border-radius: 20px;
}

.review {
    background-color: #e5e7eb;
    color: #1f2937;
}

.review-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 880px;
    padding: 100px 66px;
    gap: 20px;
}

.review .quote {
    font-size: 36px;
    font-style: italic;
}

.review .name {
    font-size: 24px;
    font-weight: 700;
    align-self: flex-end;
}

.action-content {
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 10px;
    margin: 50px 30px;
    padding: 42px;
    max-width: 1200px;
}

.action-content p {
    margin-top: 5px;
}

.action-content button {
    border-style: solid;
    border-color: #f9faf8;
}


.footer {
    text-align: center;
    padding: 16px;
}


